	body {
		background: #fff;
		margin: 0;
		font: 12px sans-serif;
		}
		#messages {
		text-align: center;
		padding: 5px;
		font-weight: bold;
		border-bottom: 3px solid black;
		background: #eee;
		}
	a {
		color: #06C;
		}
		a:hover {
			border-bottom: 1px dashed #06C;
			}
	a.logout_link {
		color: #CC0000;
		}
	hr {
		color: #999;
		border: 1px dashed #999;
		margin-bottom: 15px;
		}
	h2 {
		font-variant: small-caps;
		color: #06C;
		}
		h2:first-letter {
			font-size: 130%;
			}
		#head_container h3 {
			background: transparent;
			font-size: 1em;
			}
	h3 {
		font-variant: small-caps;
		color: #06C;
		padding: 3px;
		clear: both;
		background: #eee;
		
		}
		/* TABLE ELEMENTS */
		table {
			border-collapse: collapse;
			font-size: .5px;
			padding: 5px;
			border: 1px solid #999;
			}
		tr:hover {
			background: #eee;
			}
		tr.toprow {
			cursor: default;
			background: #999;
			color: #fff;
			}
		td.noresults {
			background: #eee;
			text-align: center;
			}
		td {
			font: caption;
			height: 30px;
			}
		td.checkbox {
			cursor: default;
			}
		tr.toprow a {
			color: #fff !important;
			}
		/* END TABLE ELEMENTS */
	.warning {
		border: 2px dashed red;
		background: #EDA19C;
		margin-bottom: 10px;
		padding: 10px 0 10px 30px;
		}
		.login .warning {
		border: 2px dashed red;
		background: #EDA19C;
		width: 65%;
		margin-bottom: 10px;
		padding: 10px 0 10px 30px;
		}
	.negative {
		color: red;
		font-weight: bold;
		}
	.positive {
		color: green;
		}
	.section_desc {
		text-align: right;
		}
	.icon {
		float: right;
		}
	.global_message {
	border: 2px dashed #0066CC;
	color: #333;
	background: #9EB9D5;
	padding: 10px 0 10px 30px;
	margin: 0 0 10px;
	}
		.login .global_message {
	border: 2px dashed #0066CC;
	color: #333;
	width: 65%;
	background: #9EB9D5;
	padding: 10px 0 10px 30px;
	margin: 0 0 10px;
	}
	.global_message_link {
		float: right;
		margin: 0 10px 10px;
		}
	#head_container {
		background: #222 url("../images/t_bg.png");
		height: 70px;
		min-width: 800px;
		padding: 5px 8% 15px;
		color: white;
		}
		#head_container h1 {
			margin: 0;
			width: 325px;
			background: url("../images/logo.png") no-repeat;
			height: 80px;
			text-indent: -999px;
			}
		#head_container h3 {
			color: #999;
			border-bottom: 0;
			font-size: 3em;
			font-weight: normal;
			text-align: right;
			margin-top: -60px;
			margin-bottom: 0;
			float: right;
			}
	#main_container {
		background: #fff url("../images/mgrad.png") repeat-x;
		min-width: 800px;
		min-height: 200px;
		padding: 0 8% 0;
		}
		#navigation {
			border: 1px solid #999;
			position: relative;
			width: 80%;
			height: 29px;
			}
			#navigation ul {
				margin-top: 0;
				padding: 0;
				}
				#navigation ul li {
					display: block;
					float: left;
					border-right: 1px solid #999;
					}
					#navigation ul li.last {
						position: relative;
						clear: both;
						background: #eee;
						right: 10px;
						}
					#navigation ul li.slast {
						
					}
						#navigation ul li a {
							color: #333;
							display: block;
							text-decoration: none;
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 1em;
							padding-right: 1em;
							}
						#navigation ul li a:hover {
							background-color: #0066CC;
							color: #fff;
							}
			.nav_box {
				width: 200px;
				padding: 8px;
				margin: 10px 0;
				}
				.nav_box span {
					font-weight: bold;
					}
			.download_box {
				border: 3px solid #06C;
				background: #9EB9D5 url("../images/download.png") no-repeat 20px;
				height: 70px;
				}
				.download_box span {
					display: block;
					font-weight: bold;
					font-size: 1.6em;
					margin: 12px 0 0 70px;
					}
					.download_box span.dl_info {
						display: inline;
						font-weight: normal;
						font-size: .9em;
						}
				.download_box .dl_info a {
					color: #333;
					}
			.link_box {
				border: 3px solid #333;
				background: #fff;
				}
			.donate_box {
				border: 3px solid #999;
				background: #eee url("../images/donate.png") no-repeat 20px;
				height: 70px;
				}
				.donate_box span {
					display: block;
					font-weight: bold;
					font-size: 1.6em;
					margin: 12px 0 0 70px;
					}
					.donate_box span.donate_info {
						display: inline;
						font-weight: normal;
						font-size: .9em;
						}
				.donate_box .donate_info a {
					color: #333;
					}
		#main_content {
			padding: 10px;
			background: white;
			border: 1px solid #999;
			border-top: 0;
			border-bottom: 2px solid #999;
			}
			#main_content p {
				line-height: 1.6em;
				}
			#main_content ul, ol {
				line-height: 1.6em;
				}
			 h4 {	
				padding: 4px;
				padding-left: 40px;
				border-bottom: 1px solid #999;
				}
			#columnright {
				width: 390px;
				margin-top: -14px;
				float: right;
			}
	#footer {
		color: white;
		position: relative;
		bottom: 0;
		margin-top: 50px;
		width: 100%;
		text-align: right;
		height: 15px;
		padding: 10px;
		background: #333 url("../images/t_bg.png");
		clear: both;
	}
	#copyright {
		width: 80%;
		color: #999;
		font-size: .9em;
		min-width: 800px;
		margin: 5px auto 40px auto;
		position: relative;
		padding-right: 0;
		text-align: right;
		}
			.advanced {
				background-color: #eee;
				padding-left: 5px;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 2em;
			}
			div.advanced.last {
				border-bottom: 3px solid #999;
			}

	/* Form elements... */
	input {
	font: inherit;
	margin-left: 10px;
	margin-top: 3px;
	padding: 5px;
	}
	.login input[type=text], input[type=password] {
		width: 400px;
		}
	form h4 {
	margin-bottom: 0;
	padding: 3px 35px;
	font-variant: small-caps;
	color: #333;
	border-bottom: 3px solid #999;
	}
	.alignr {
		margin-top: 15px;
		padding-right: 20px;
		margin-bottom: 0px;
		text-align: right;
		background: #eee;
		border: 3px solid #999;
		}
	button {
	font: inherit;
	margin: 0;
	padding: 5px;
	}
	button.activate {
		margin-bottom: 15px;
		}
	button.next {
		padding-left: 20px;
		background: #F6F6F5 url("../images/next.png") 3px 6px no-repeat;
		}
	button.previous {
		padding-left: 20px;
		background: #F6F6F5 url("../images/previous.png") 3px 6px no-repeat;
		}
	
	.alignr input[type=submit] {
	margin-top: 10px;
	margin-bottom: 10px;
	}
	input#submit {
	font-weight: bold;
	padding-left: 20px;
	background: #F6F6F5 url("../images/save.png") 3px 6px no-repeat;
	}
	.login input#submit {
	font-weight: bold;
	width: 150px;
	padding-left: 20px;
	background: #F6F6F5 url("../images/save.png") 3px 6px no-repeat;
	}
	label {
		font: inherit;
		font-variant: small-caps;
		font-weight: bold;
		margin-top: 5px;
		float: left;
		width: 130px;
		}
		label.area_label {
			width: 100%;
			}
		.nofloat {
		width: auto;
		}
	select {
		font: inherit;
		padding: 5px;
		margin-bottom: 5px;
		width: auto;
		margin-left: 10px;
		}
		select#category {
			width: 230px;
			}
		select.cat_navigation {
			width: 100%;
			margin-left: 0;
			}
	textarea {
		font: inherit;
		width: 81%;
		height: 300px;
		margin-left: 10px;
		margin-bottom: 5px;
		padding: 5px;
		}
		textarea.code {
			font-family: monospace;
			}
	/* LOGIN classes */
	.login a, img {
		border: 0;
		border: 0;
		}
	.login h3 {
		background: transparent;
		color: black;
		clear: none;
		}
	.login #head_container .version_top {
		font-size: 3em;
		}
		.login #head_container .version_top:before, #install #head_container h3:before {
			content: "\000009 \2021";
			font-size: 1em;
			color: #666;
			}
		
	/* Search elements */

				.searchbox, .extended {	
					color: #999;
					width: 400px;
					margin: 3px;
					padding: 6px;
				}
				.searchbutton {
					padding: 5px;
					margin: 3px;
					padding-left: 20px;
					background: #F6F6F5 url("../images/search.png") 3px 6px no-repeat;
					}
				.searchbox:focus {
				color: black;
				}
				.searchelements {
				width: 100px;
				padding: 5px;
				margin: 3px;
				}
				
				#dropbox {
					float: right;
					border-top: 0;
					margin-top: 0;
					top: 0;
					margin-top: 17px;
					right: 45px;
					}
			img {
				border: 0;
			}	
