		body {
			margin: 0;
			background: #eee url("../images/bg.png") repeat-x;
			font: 12px sans-serif;
			color: #333;
			}
		a[href] {
			color: #0066CC;
			text-decoration: none;
			}
		img {
			border: 0;
			
			}
		h2 {
			font-variant: small-caps;
			color: #0066CC;
			}
		h2:first-letter {
			text-transform: capitalize;
			}

		#container {
			width: 80%;
			min-width: 800px;
			margin: 0 auto;
			position: relative;
			padding: 10px 10px;
			background-color: #fff;
			border-bottom: 2px #999 solid;
			border-left: 1px #999 solid;
			border-right: 1px #999 solid;
			}
				#dropbox {
					float: right;
					border-top: 0;
					margin-top: 0;
					top: 0;
					margin-top: 17px;
					right: 45px;
					}
				.global_message {
					border: 2px dashed #0066CC;
					color: #333;
					background: #9EB9D5;
					padding: 10px 0 10px 30px;
					margin: 10px;
					}
				#messages {
					
					}
		#copyright {
			width: 80%;
			color: #999;
			font-size: .9em;
			min-width: 800px;
			margin: 5px auto 40px auto;
			position: relative;
			padding-right: 0;
			text-align: right;
		}

			/* Form elements... */
			.form {
				margin-left: 100px;
				}
			input {
			font: inherit;
			margin-left: 10px;
			margin-bottom: 5px;
			padding: 5px;
			}
			input[type=submit] {
			margin-top: 10px;
			margin-bottom: 10px;
			}
			label {
				font: inherit;
				font-variant: small-caps;
				font-weight: bold;
				float: left;
				width: 120px;
				}
				.warning {
				border: 2px dashed red;
				margin: 10px;
				width: 70%;
				background: #EDA19C;
				padding: 10px 0 10px 30px;
				
				}
				.outline {
					outline: 2px solid yellow;
				}
		
