		body {
			margin: 0;
			background: #eee url("../images/bg.png") repeat-x;
			font: 12px sans-serif;
			color: #333;
			}
		#content a[href] {
			color: #0066CC;
			text-decoration: none;
			}
		p {
			line-height: 1.6em;
			text-indent: 2em;
			text-align: left;
			}
		p:first-letter {
			font-size: 1.3em;
			font-variant: small-caps;
			}
		.warning {
			border: 2px dashed red;
			background: #EDA19C;
			margin: 10px 0;
			padding: 10px 0 10px 30px;
		}
		h2 {
			font-variant: small-caps;
			margin-top: 15px;
			color: #0066CC;
			}
		h2:first-letter {
			text-transform: capitalize;
			}
		h3 {
			margin: 30px 0 10px;
			padding: 3px;
			font-variant: small-caps;
			color: #0066CC;
			background-color: #eee;

			}
		#container {
			width: 80%;
			min-width: 800px;
			margin: 0 auto;
			position: relative;
			padding: 10px 10px;
			background-color: #fff;;
			border-bottom: 1px #999 solid;
			border-left: 1px #999 solid;
			border-right: 1px #999 solid;
			}
				#content {
					width: 100%;
					}
					#content #stats {
						width: 450px;
						}
					#content .advanced {
						background-color: #eee;
						padding-left: 30px;
						padding-top: 15px;
						padding-bottom: 15px;
						margin-bottom: 2em;
						margin-left: -30px;	
					}
					#content div.advanced.last {
						border-bottom: 3px solid #999;
					}
					#content #columnright {
						width: 400px;
						margin-top: -10px;
						float: right;
					}
		#copyright {
			width: 80%;
			color: #999;
			font-size: .9em;
			min-width: 800px;
			margin: 5px auto 40px auto;
			position: relative;
			padding-right: 0;
			text-align: right;

		}
		#actions {
			height: 100px;
			width: 70%;
			background: #eee;
			margin-bottom: 10px;
		}			
			/* Form elements... */
			.form {
				padding-left: 5%;
				}
			input {
			font: inherit;
			margin-left: 10px;
			margin-top: 3px;
			padding: 5px;
			}
			
			button {
			font: inherit;
			margin: 0;
			padding: 5px;
			}
			
			.alignr input[type=submit] {
			margin-top: 10px;
			margin-bottom: 10px;
			}
			input#submit {
			font-weight: bold;
			}
			label {
				font: inherit;
				font-variant: small-caps;
				font-weight: bold;
				margin-top: 5px;
				float: left;
				width: 140px;
				}
			select {
				font: inherit;
				padding: 5px;
				margin-bottom: 5px;
				margin-left: 10px;
				}
			textarea {
				font: inherit;
				width: 80%;
				height: 300px;
				margin-left: 10px;
				margin-bottom: 5px;
				padding: 5px;
				}
			.alignr {
				margin-top: 15px;
				padding-right: 20px;
				margin-bottom: -10px;
				text-align: right;
				background: #eee;
				border: 3px solid #999;
				}

			.highlight {
				outline: 1px solid yellow;
			}
			.clear {
				clear: both;
			}
			#dropbox {
					float: right;
					border-top: 0;
					margin-top: 0;
					top: 0;
					margin-top: 17px;
					right: 45px;
					}
			img {
				border: 0;
			}	
