		body {
			margin: 0;
			background: #eee url("../images/bg.png") repeat-x;
			font: 12px sans-serif;
			color: #333;
			}
		table {
			border-collapse: collapse;
			font-size: .5px;
			padding: 5px;
			border: 1px solid #999;
			}
		tr:hover {
			background: #eee;
			}
		tr.toprow {
			cursor: default;
			background: #999;
			color: #fff;
			}
		td.noresults {
			background: #eee;
			text-align: center;
			}
		td {
			font: caption;
			height: 30px;
			}
		td.checkbox {
			cursor: default;
			}
		#content a {
			color: #0066CC;
			text-decoration: none;
			}
		tr.toprow a {
				color: #fff !important;
			}
		p {
			line-height: 1.6em;
			text-indent: 2em;
			text-align: left;
			}
			ul, ol {
				line-height: 1.6em;
				}
		p:first-letter {
			font-size: 1.3em;
			font-variant: small-caps;
			}
		.warning {
			border: 2px dashed red;
			clear: both;
			background: #EDA19C;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 10px 0 10px 30px;
		}
		
		.global_message {
			border: 2px dashed #0066CC;
			color: #333;
			background: #9EB9D5;
			padding: 10px 0 10px 30px;
			margin: 10px 0;
		}
			.global_message_link {
				float: right;
				margin: 0 10px 10px;
				}
		h1 {
			clear:  both;
			}
		h2 {
			font-variant: small-caps;
			margin-top: 15px;
			color: #0066CC;
			}
		h2:first-letter {
			text-transform: capitalize;
			}
		h3 {
			margin: 30px 0 10px;
			clear: both;
			padding: 3px;
			font-variant: small-caps;
			color: #0066CC;
			background-color: #eee;

			}
		h4 {
			padding: 3px 5px;
			font-variant: small-caps;
			color: #333;
			border-bottom: 1px solid #999;
			}
		form h4, #actions h4 {
			margin-bottom: 0;
			margin-left: -10px;
			padding: 3px 35px;
			font-variant: small-caps;
			color: #333;
			border-bottom: 3px solid #999;
			}
		hr {
			width: 70%;
			margin-top: 2em;
			margin-bottom: 2em;
			}
		blockquote {
			border-left: 1px dashed #333;
			padding: 10px;
			color: #666;
			background: #eee;
			}
		#container {
			width: 80%;
			min-width: 800px;
			margin: 0 auto;
			position: relative;
			padding: 10px 10px;
			background: #fff;
			border-bottom: 2px #999 solid;
			border-left: 1px #999 solid;
			border-right: 1px #999 solid;
			}
		
			#messages {
				border-bottom: 2px solid #000;
				height: 20px;
				padding-top: 5px;
				font-weight: bold;
				background-color: #0066CC;
				text-align: center;
				color: white;
				}
				#navigation {
					border: 1px solid #999;
					
					}
					#navigation ul {
						margin-top: 0;
						height: 23px;
						padding: 0;
						}
						#navigation ul li {
							display: block;
							float: left;
							border-right: 1px solid #999;
							}
							#navigation ul li.last {
								position: absolute;
								background: #eee;
								right: 10px;
								}
							#navigation ul li.slast {
								
							}
								#navigation ul li a {
									color: #333;
									display: block;
									text-decoration: none;
									padding-top: 8px;
									padding-bottom: 8px;
									padding-left: 1em;
									padding-right: 1em;
									}
								#navigation ul li a:hover {
									background-color: #0066CC;
									color: #fff;
									}
				#content {
					width: 100%;
					}
					#content #stats {
						width: 460px;
						}
					#content .advanced {
						padding-left: 5px;
						padding-top: 15px;
						padding-bottom: 15px;
						margin-bottom: 2em;
						margin-left: -10px;	
					}
					#content div.advanced.last {
						border-bottom: 3px solid #999;
					}
					#content #columnright {
						width: 390px;
						margin-top: -10px;
						float: right;
					}
		#copyright {
			width: 80%;
			color: #999;
			font-size: .9em;
			min-width: 800px;
			margin: 5px auto 40px auto;
			position: relative;
			padding-right: 0;
			text-align: right;
		}
		#actions {
			height: 100px;
			width: 70%;
			background: #eee;
			margin-bottom: 10px;
		}			
			/* Form elements... */
			.form {
				padding-left: 1%;
				}
			input {
			font: inherit;
			margin-left: 10px;
			margin-top: 3px;
			padding: 5px;
			}
			
			button {
			font: inherit;
			margin: 0;
			padding: 5px;
			}
			button.next {
				padding-left: 20px;
				background: #F6F6F5 url("../images/next.png") 3px 6px no-repeat;
				}
			button.previous {
				padding-left: 20px;
				background: #F6F6F5 url("../images/previous.png") 3px 6px no-repeat;
				}
			
			.alignr input[type=submit] {
			margin-top: 10px;
			margin-bottom: 10px;
			}
			input#submit {
			font-weight: bold;
			padding-left: 20px;
			background: #F6F6F5 url("../images/save.png") 3px 6px no-repeat;
			}
			label {
				font: inherit;
				font-variant: small-caps;
				font-weight: bold;
				margin-top: 5px;
				float: left;
				width: 125px;
				}
				label.for_textarea {
			display: block;
			text-align: center;
			margin: -35px 20px 0px auto;
			background: #eee;
			border: 1px solid #838485;
			width: 340px;
			padding: 10px;
			border-bottom: none;
			float: none;
			}
			label.for_textarea_alt {
				display: block;
				text-align: center;
				margin: 10px 20px 0px auto;
				background: #eee;
				border: 1px solid #838485;
				width: 340px;
				padding: 10px;
				border-bottom: none;
				float: none;
				}
			select {
				font: inherit;
				padding: 5px;
				margin-bottom: 5px;
				width: auto;
				margin-left: 10px;
				}
				select#category {
					width: 230px;
					}
				textarea {
					font: inherit;
					width: 100%;
					height: 300px;
					margin: 0;
					}
					textarea.code {
						font-family: monospace;
						}
			.nofloat {
				width: 400px;
				}
			.alignr {
				margin-top: 15px;
				padding-right: 20px;
				margin-bottom: -10px;
				text-align: right;
				background: #eee;
				border: 3px solid #999;
				}
			.icon {
				margin-left: 10px;
				float: right;
				}
			.negative {
				color: red;
				font-weight: bold;
				}
			.positive {
				color: green;
				}
			.pagination {
				border: 1px solid #666;
				font-weight: bold;
				padding: 0 10px;
				background: #eee;
				padding: 8px;
				margin: 3px 5px 0 0;
				display: block;
				float: left;
			}
			.highlight {
				outline: 1px solid yellow;
			}
			.clear {
				clear: both;
			}
			div.checkbox {
				text-align: right;
				margin-bottom: -20px;
				margin-top: 20px;
				}
			
			/* SEARCH ELEMENTS */
				.searchbox, .extended {	
					color: #999;
					width: 400px;
					margin: 3px;
					padding: 6px;
				}
				.searchbutton {
					padding: 5px;
					margin: 3px;
					padding-left: 20px;
					background: #F6F6F5 url("../images/search.png") 3px 6px no-repeat;
					}
				.searchbox:focus {
				color: black;
				}
				.searchelements {
				width: 100px;
				padding: 5px;
				margin: 3px;
				}
				optgroup {
					background: #eee;
					}
				option {
					background: white;
					}
				.cat_navigation {
					width: 200px;
					}
				.category_wrap {
					text-align: right;
					}
				

